<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style> 
	body, html {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
	#inspire > div > main > div > div {
	    padding: 0;
	}
	iframe {
	  width: 100%;
	  height: 100%;
	  border: none;
	}
  </style> 
</head>
<body>
  <div id="app">
  <v-app id="inspire">
    <v-navigation-drawer fixed v-model="drawer" app >
  <v-treeview activatable :items="items" :active="active" :open="open" open-on-click>
      <template v-slot:prepend="{item, open}">
	  <v-icon v-if="!item.file">
	    mdi-file
	  </v-icon>
	  <v-icon v-else>
	    {{ files[item.file] }}
	  </v-icon>
      </template>
      <template v-slot:label="{item}">
	    <div v-if="!item.file">
		{{item.name}}
	    </div>
	    <div v-else @click="load(item.page)">
		{{item.name}}
	    </div>
      </template>
  </v-treeview>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title> {{page}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height fill-width>
        <v-layout justify-center align-center >
	    <iframe id="theIframe" v-bind:src="page"></iframe>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
	methods: { 
	    load: function(page) {
		console.log("help");
		this.page = page;
	    }
	},
     data: () => ({
	  drawer: null,
	  page: "ConfidenceIntervalMeans.html",
	  open: [1],
	  active: [101],
	  files: {
	    html: 'mdi-code-tags',
	    md: 'mdi-markdown',
	    pdf: 'mdi-file-pdf'
	  },
	  items: [
	    {
	      id: 1,
	      name: 'ConfidenceIntervalMeans',
	      children: [
		{ id: 101, page: 'ConfidenceIntervalMeans.html', name: 'html', file: 'html' },
		{ id: 102, page: 'ConfidenceIntervalMeans.Rmd', name: 'Rmd', file: 'md' },
		{ id: 103, page: 'ConfidenceIntervalMeans.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 2,
	      name: 'Simple',
	      children: [
		{ id: 201, page: 'Simple.html', name: 'html', file: 'html' },
		{ id: 202, page: 'Simple.Rmd', name: 'Rmd', file: 'md' },
		{ id: 203, page: 'Simple.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 3,
	      name: 'CalculateZValue',
	      children: [
		{ id: 301, page: 'CalculateZValue.html', name: 'html', file: 'html' },
		{ id: 302, page: 'CalculateZValue.Rmd', name: 'Rmd', file: 'md' },
		{ id: 303, page: 'CalculateZValue.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 4,
	      name: 'ImageLatexDemo',
	      children: [
		{ id: 401, page: 'ImageLatexDemo.html', name: 'html', file: 'html' },
		{ id: 402, page: 'ImageLatexDemo.Rmd', name: 'Rmd', file: 'md' },
		{ id: 403, page: 'ImageLatexDemo.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 5,
	      name: 'NormalCurveAreaBetween',
	      children: [
		{ id: 501, page: 'NormalCurveAreaBetween.html', name: 'html', file: 'html' },
		{ id: 502, page: 'NormalCurveAreaBetween.Rmd', name: 'Rmd', file: 'md' },
		{ id: 503, page: 'NormalCurveAreaBetween.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 6,
	      name: 'StdNormalFindAreaBetween',
	      children: [
		{ id: 601, page: 'StdNormalFindAreaBetween.html', name: 'html', file: 'html' },
		{ id: 602, page: 'StdNormalFindAreaBetween.Rmd', name: 'Rmd', file: 'md' },
		{ id: 603, page: 'StdNormalFindAreaBetween.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 7,
	      name: 'StdNormalShadedArea',
	      children: [
		{ id: 701, page: 'StdNormalShadedArea.html', name: 'html', file: 'html' },
		{ id: 702, page: 'StdNormalShadedArea.Rmd', name: 'Rmd', file: 'md' },
		{ id: 703, page: 'StdNormalShadedArea.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 8,
	      name: 'Table',
	      children: [
		{ id: 801, page: 'Table.html', name: 'html', file: 'html' },
		{ id: 802, page: 'Table.Rmd', name: 'Rmd', file: 'md' },
		{ id: 803, page: 'Table.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 9,
	      name: 'Test',
	      children: [
		{ id: 901, page: 'Test.html', name: 'html', file: 'html' },
		{ id: 902, page: 'Test.Rmd', name: 'Rmd', file: 'md' },
		{ id: 903, page: 'Test.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	    {
	      id: 10,
	      name: 'AllInputs',
	      children: [
		{ id: 1001, page: 'AllInputs.html', name: 'html', file: 'html' },
		{ id: 1002, page: 'AllInputs.Rmd', name: 'Rmd', file: 'md' },
		{ id: 1003, page: 'AllInputs.pdf', name: 'pdf', file: 'pdf' }
	      ]
	    },
	  ]
	})
    })
  </script>
</body>
</html>
